---
layout: archive-full
permalink: /ietf/
hero-image: /images/new-design/SR-Background-Image-2.png/
title: "EITF"
type: "IETF"
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim lorem ipsum."
---


{% include base_path %}
{% assign articles = site.data.ietf["list_architecture"] %}
<div class="container accordion">
  <details open>
    <summary>Architecture</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_usecases"] %}
  <details>
    <summary>Uses-Case and Requirements</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_deploy"] %}
  <details>
    <summary>Deployments and Interoperability</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_frr"] %}
  <details>
    <summary>Fast Reroute (FRR)</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_oam"] %}
  <details>
    <summary>OAM</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_pm"] %}
  <details>
    <summary>Performance Measurement</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_mcast"] %}
  <details>
    <summary>Replication</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_srmpls"] %}
  <details>
    <summary>SR-MPLS</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_bgp"] %}
  <details>
    <summary>BGP</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_bgp_ls"] %}
  <details>
    <summary>BGP-LS</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_isis"] %}
  <details>
    <summary>IS-IS</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_ospf"] %}
  <details>
    <summary>OSPF</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_pcep"] %}
  <details>
    <summary>PCEP</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_lisp"] %}
  <details>
    <summary>LISP</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_yang"] %}
  <details>
    <summary>Yang models</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>

  {% assign articles = site.data.ietf["list_discussions"] %}
  <details>
    <summary>IETF Discussions</summary>
  {% for post in articles %}
    <div>
      {% include rfc_list %}
    </div>
  {% endfor %}
  </details>
</div>