---
layout: archive
permalink: /ietf/
title: "IETF Proceedings"
author_profile: true
author: "Segment Routing Team"
---

<div class="notice--info">
Segment Routing is being standardized by the IETF.  
<br/>
  <b>The architecture and use-cases are handled in the SPRING working group.</b>   
<br/>
Protocol extensions are handled in their specific protocol working group (ISIS, OSPF, IDR, PCEP, 6MAN).
</div>
<h2><u>Segment Routing Drafts</u></h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% assign sorted = (site.ietf | sort: 'date') %}
{% for post in sorted %}
  {% include archive-techdocs.html %}
{% endfor %}
