---
regenerate: true
layout: archive-full
permalink: /new-news0
hero-image: images/new-design/SR-Background-Image-2.png
title: "News0"
description: "Discover the latest news on Segment Routing"
---
<!--
regenerate: true
layout: articles
permalink: /new-news
hero-image: images/new-design/SR-Hero-Background-Image-8.png
technology: "SRv6"
type: "News"
description: "Discover the latest news on Segment Routing"
-->

<style>
.filterDiv {
  display: none;
}

.show {
  display: block;
}
button.btn {
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
    margin-right: 10px;
    margin-top: 5px;
        position: relative;
}
button.btn:not(.active):hover {
  //background-color: red;
}
/* override hover behavior of active button
   should really fix button:hover using button:not(.active):hover
*/
Qbutton.btn.active:hover {
    padding: 10px 40px;
    border: 1px solid #1994c9;
    border-radius: 20px;
    background-color: #149ed9;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
button.btn.active:hover {
    /* border-color: #6abf4b; */
    /* background-color: #6abf4b; */
    padding: 10px 40px;
    border-radius: 20px;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
button.btn.active {
    border-color: #6abf4b;
    background-color: #6abf4b;
}
div.btnRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
}
button.active {
  //background-color: red;
}
Qbutton.active:before {
  content:  "\2713 ";
  font-weight: 900;
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
  line-height: 0em; /* don't make this character expand button height */
}
#btnContainer {
    max-width: 80%;
    margin: auto;
}
div.label {
    margin: 5px 5px 0 0;
    padding: 10px 40px 10px 0;
    font-size: 1.1em;
    font-family: 'Cisco Sans TT', sans-serif;
    text-align: left;
}
.article-postfix {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #bdbdbd;
    letter-spacing: 0.5px;
    font-weight: 500;
}
button.btn .fa-check {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #fff;
    font-weight: normal;
	display: none;
}
button.btn.active .fa-check {
	display: block;
}
</style>
<div id="btnContainer">
    <div class="label">Category:</div>
  <div class="btnRow">
    <button class="btn category active" onclick="filterSelection('category', 'all')"><i class="fa fa-check"></i> Show all</button>
    <button class="btn category" onclick="filterSelection('category', 'blogs')"><i class="fa fa-check"></i> Blogs</button>
    <button class="btn category" onclick="filterSelection('category', 'conferences')"><i class="fa fa-check"></i> Conferences</button>
    <button class="btn category" onclick="filterSelection('category', 'demos')"><i class="fa fa-check"></i> Demos</button>
    <button class="btn category" onclick="filterSelection('category', 'news')"><i class="fa fa-check"></i> News</button>
  </div>
    <div class="label">Technology:</div>
  <div class="btnRow">
	  <button class="btn technology active" onclick="filterSelection('technology', 'all')"><i class="fa fa-check"></i> Show all</button>
	  <button class="btn technology" onclick="filterSelection('technology', 'SRv6')"><i class="fa fa-check"></i> SRv6</button>
	  <button class="btn technology" onclick="filterSelection('technology', 'SRMPLS')"><i class="fa fa-check"></i> SR-MPLS</button>
  </div>
</div>

{% capture written_year %}'None'{% endcapture %}
{% assign all_content = site.documents 
| where_exp:"item", "item.id.size"
| where_exp:"item", "item.date"
| where_exp:"item", "item.collection != 'open-software'"
| where_exp:"item", "item.collection != 'scientific-papers'"
| where_exp:"item", "item.collection != 'tutorials'"
| sort: date 
| uniq
| reverse %}
  <div class="container accordion">
    {% for post in all_content %}
      {% capture year %}{{ post.date | slice: 0, 4 }}{% endcapture %}
      {% if year != written_year %}
        </details>
        {% if post == all_content[0] %}
	<details open>
        {% else %}
	<details>
        {% endif %}
          <summary> {{ year }} </summary>
          {% capture written_year %}{{ year }}{% endcapture %}
      {% endif %}
      {% include new-news-list %} 
    {% endfor %} 
  </div>
  <p id="notice-no-items-found" hidden>No items found.</p>


<script>
//console.log("BEGIN");
let filter = {"category": "all", "technology": "all"};
filterSelection("technology", "all");
filterSelection("category", "all");

function filterSelection(type, value) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (value == "all") { value = ""; }
  // set global filter
  filter[type] = value;
  //console.log(filter);
  // Add the "show" class (display:block) to the filtered elements,
  // and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    // w3RemoveClass(x[i], "show");
    x[i].classList.remove("show");
    //console.log(x[i]);
    if ((x[i].className.indexOf(filter["technology"]) > -1) 
      && (x[i].className.indexOf(filter["category"]) > -1)) {
        x[i].classList.add("show");
    }
  }
}

function hasClass(element, clsName) {
  return (" " + element.className + " ").indexOf(" " + clsName + " ") > -1;
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("btnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    if (this.className.indexOf("category") > -1) {
      var current = document.getElementsByClassName("btn category active");
      current[0].className = current[0].className.replace(" active", "");
    }
    if (this.className.indexOf("technology") > -1) {
      var current = document.getElementsByClassName("btn technology active");
      current[0].className = current[0].className.replace(" active", "");
    }
    this.className += " active";

    let details = document.querySelectorAll("details");
    //console.log(details);
    let firstUnhiddenDetails = true;
    let noFilterResults = true;
    details.forEach(function (details) {
      let allHidden = true;
      let divs = details.querySelectorAll("div.filterDiv");
      // .some() returns true as soon as a callback returns true
      // .every() returns false as soon as a callback returns false
      // return true if all entries have class "show"
      for (let div of divs) {
        if (hasClass(div, "show")) {
          allHidden = false;
          break;
        }
      }
      if (allHidden) {
        // console.log(details, "ALL entries are hidden");
        // hide details as well
        details.hidden = true;
      } else {
        console.log(details, "NOT all entries are hidden");
        noFilterResults = false;
        // open first year with non-hidden items
        if (firstUnhiddenDetails) {
          firstUnhiddenDetails = false;
          details.setAttribute("open", "");
	}
        details.style.display = "";
        details.hidden = false;
      }
    });
    let notice = document.getElementById("notice-no-items-found");
    if (noFilterResults) {
        notice.hidden = false;
    } else {
        notice.hidden = true;
    }
  });
};
</script>
