---
layout: archive-full
permalink: /scientific-papers/
title: "Scientific Papers and Research Publications"
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}

{% assign sorted = (site.scientific-papers | reverse) %}
{% for post in sorted %}
  {% capture year %}{{ post.year }}{% endcapture %}
  {% if year != written_year %}
    <h3 class="list__title" id="{{ year | slugify }}">{{ year }}</h3>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include papers-list %}
{% endfor %}
