---
regenerate: true
layout: archive-full
permalink: /scientific-papers
hero-image: images/new-design/SR-Background-Image-2.png
title: "Scientific Papers and Research Publications"
---
 
{% include base_path %}
<div class="container accordion">
  {% assign papers_by_year = site.scientific-papers | group_by: "year" %}
  {% assign sorted_years = papers_by_year | sort: "name" | reverse %}

  {% for year_group in sorted_years %}
    {% comment %} open entries of the first year {% endcomment %}
    {% comment %}
    <details {% if forloop.first %}open{% endif %}>
    {% endcomment %}
    <details open>
      <summary> {{ year_group.name }} </summary>
      {% assign sorted_papers_in_year = year_group.items | sort: "month" | reverse %}
      {% for post in sorted_papers_in_year %}
        <div>
          {% include papers-list %}
        </div>
      {% endfor %}
    </details>
  {% endfor %}
</div>

