---
layout: articles 
permalink: /srmpls-tutorials/
hero-image: /images/new-design/SR-Background-Image-4.png/
title: "SR MPLS Tutorials"
technology: "SR MPLS"
type: "Tutorials"
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim lorem ipsum."
---
 
{% include base_path %}
<div class="container accordion">
  {% assign sorted = (site.tutorials | where:"category","concepts" | sort: 'order') %}
  <details open>
    <summary>SR concepts</summary>
  {% for post in sorted %}
    <div>
      {% include archive-single.html %}
    </div>
  {% endfor %}
  </details>

  {% assign sorted = (site.tutorials | where:"category","igp" | sort: 'order') %}
  <details>
    <summary>SR IGP</summary>
  {% for post in sorted %}
    <div>
      {% include archive-single.html %}
    </div>
  {% endfor %}
  </details>

  {% assign sorted = (site.tutorials | where:"category","ldp" | sort: 'order') %}
  <details>
    <summary>SR and LDP</summary>
  {% for post in sorted %}
    <div>
      {% include archive-single.html %}
    </div>
  {% endfor %}
  </details>

  {% assign sorted = (site.tutorials | where:"category","te" | sort: 'order') %}
  <details>
    <summary>SR Traffic Engineering</summary>
  {% for post in sorted %}
    <div>
      {% include archive-single.html %}
    </div>
  {% endfor %}
  </details>

  {% assign sorted = (site.tutorials | where:"category","oam" | sort: 'order') %}
  <details>
    <summary>SR Operations and Monitoring</summary>
  {% for post in sorted %}
    <div>
      {% include archive-single.html %}
    </div>
  {% endfor %}
  </details>
</div>