---
layout: archive-full
permalink: /tutorials/
title: "Tutorials"
---

{% include base_path %}

<h2 onclick="show_concepts()"><i class='fa fa-angle-right'></i>SR concepts</h2>
<div id="list_concepts">
{% assign sorted = (site.tutorials | where:"category","concepts" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_igp()"><i class='fa fa-angle-right'></i>SR IGP</h2>
<div id="list_igp" style="display: none">
{% assign sorted = (site.tutorials | where:"category","igp" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_ldp()"><i class='fa fa-angle-right'></i>SR and LDP</h2>
<div id="list_ldp" style="display: none">
{% assign sorted = (site.tutorials | where:"category","ldp" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_te()"><i class='fa fa-angle-right'></i>SR Traffic Engineering</h2>
<div id="list_te" style="display: none">
{% assign sorted = (site.tutorials | where:"category","te" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_srv6()"><i class='fa fa-angle-right'></i>SRv6</h2>
<div id="list_srv6" style="display: none">
{% assign sorted = (site.tutorials | where:"category","srv6" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<script>
function show_concepts() {
    var x = document.getElementById("list_concepts");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function show_igp() {
    var x = document.getElementById("list_igp");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function show_ldp() {
    var x = document.getElementById("list_ldp");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function show_te() {
    var x = document.getElementById("list_te");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function show_srv6() {
    var x = document.getElementById("list_srv6");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>