---
layout: archive-full
permalink: /tutorials/
title: "Tutorials"
---

{% include base_path %}

<h2 onclick="show_concepts()"><i id="icon_concepts" class='fa fa-angle-right'></i> SR concepts</h2>
<p class="archive__item-excerpt">Learn about the foundational SR concepts.</p>
<div id="list_concepts" style="display: none">
{% assign sorted = (site.tutorials | where:"category","concepts" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_igp()"><i id="icon_igp" class='fa fa-angle-right'></i> SR IGP</h2>
<p class="archive__item-excerpt">The SR IGP control plane and automated fast-reroute resiliency.</p>
<div id="list_igp" style="display: none">
{% assign sorted = (site.tutorials | where:"category","igp" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_ldp()"><i id="icon_ldp" class='fa fa-angle-right'></i> SR and LDP</h2>
<p class="archive__item-excerpt">Introducing SR in an LDP network, how they can co-exist and interwork.</p>
<div id="list_ldp" style="display: none">
{% assign sorted = (site.tutorials | where:"category","ldp" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_te()"><i id="icon_te" class='fa fa-angle-right'></i> SR Traffic Engineering</h2>
<p class="archive__item-excerpt">SR-TE provides you low-delay paths, disjoint paths,… and many more.</p>
<div id="list_te" style="display: none">
{% assign sorted = (site.tutorials | where:"category","te" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<h2 onclick="show_srv6()"><i id="icon_srv6" class='fa fa-angle-right'></i> SRv6</h2>
<p class="archive__item-excerpt">Apply the SR concepts to the IPv6 data plane and discover the power of SRv6 network programming.</p>
<div id="list_srv6" style="display: none">
{% assign sorted = (site.tutorials | where:"category","srv6" | sort: 'order') %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
</div>

<script>
function show_concepts() {
    var x = document.getElementById("list_concepts");
    var y = document.getElementById("icon_concepts");
    if (x.style.display === "none") {
        x.style.display = "block";
    	y.classList.remove("fa-angle-right");
    	y.classList.add("fa-angle-down");
    } else {
        x.style.display = "none";
        y.classList.remove("fa-angle-down");
    	y.classList.add("fa-angle-right");
    }
}

function show_igp() {
    var x = document.getElementById("list_igp");
    var y = document.getElementById("icon_igp");
    if (x.style.display === "none") {
        x.style.display = "block";
    	y.classList.remove("fa-angle-right");
    	y.classList.add("fa-angle-down");
    } else {
        x.style.display = "none";
        y.classList.remove("fa-angle-down");
    	y.classList.add("fa-angle-right");
    }
}

function show_ldp() {
    var x = document.getElementById("list_ldp");
    var y = document.getElementById("icon_ldp");
    if (x.style.display === "none") {
        x.style.display = "block";
    	y.classList.remove("fa-angle-right");
    	y.classList.add("fa-angle-down");
    } else {
        x.style.display = "none";
        y.classList.remove("fa-angle-down");
    	y.classList.add("fa-angle-right");
    }
}

function show_te() {
    var x = document.getElementById("list_te");
    var y = document.getElementById("icon_te");
    if (x.style.display === "none") {
        x.style.display = "block";
    	y.classList.remove("fa-angle-right");
    	y.classList.add("fa-angle-down");
    } else {
        x.style.display = "none";
        y.classList.remove("fa-angle-down");
    	y.classList.add("fa-angle-right");
    }
}

function show_srv6() {
    var x = document.getElementById("list_srv6");
    var y = document.getElementById("icon_srv6");
    if (x.style.display === "none") {
        x.style.display = "block";
    	y.classList.remove("fa-angle-right");
    	y.classList.add("fa-angle-down");
    } else {
        x.style.display = "none";
        y.classList.remove("fa-angle-down");
    	y.classList.add("fa-angle-right");
    }
}
</script>