<div class="footer page__footer-follow" style="padding-top:1em;">
  <div class="container social-icons">
    {% if site.data.ui-text[site.locale].contact_label %}
      <h2 class="section-title">{{ site.data.ui-text[site.locale].contact_label }}</h2>
    {% endif %}
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><img src="images/email-icon.svg" width="60" alt="email icon" class="social-icon"></a>
    {% endif %}
    {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}"><img src="images/twitter-icon.svg" width="60" alt="twitter icon" class="social-icon"></i></a>
    {% endif %}
    {% if site.facebook.username %}
      <a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    {% endif %}
    {% if site.author.github %}
      <a href="http://github.com/{{ site.author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a>
    {% endif %}
    {% if site.author.bitbucket %}
      <a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fa fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a>
    {% endif %}
    {% if site.author.linkedin-group %}
      <a href="https://www.linkedin.com/groups/{{ site.author.linkedin-group }}"><img src="images/linkedin-icon.svg" width="60" alt="linkedin icon" class="social-icon"></a>
    {% endif %}
    {% if site.rss_feed %}
      <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a>
    {% endif %}
    <div class="footer-text page__footer-copyright">This site is maintained by Cisco Systems, Inc. employees.</div>
  </div>
</div>