<div class=nav-container>
  <nav>
      <a href="{{ '/' | relative_url }}" ><img src="{{ site.logo | relative_url }}" class="nav-logo" id="nav-logo" alt="Segment-Routing brand logo"></a>
      <div class="navbar" id="mylinks">
            {% if site.data.navigation.main[0] %}
              {% for item in site.data.navigation.main %}
                {% if item.subfolderitems[0] %}
                  <div class="dropdown nav-link">
                    <label class="underline">{{ item.title }} <i class="fa fa-caret-down font-awesome-icon"></i>
                      <input type="checkbox" id="toggle">
                      <div class="dropdown-content" for="toggle">
                        {% for entry in item.subfolderitems %}
                          <a href="{{ entry.url | relative_url }}" class="underline">{{ entry.page }}</a>
                        {% endfor %}
                      </div>
                  </div>  
                {% elsif item.title == "IETF" %}
                  <div class="nav-link hide-on-mobile">
                    <a href="{{ item.url | relative_url }}" class="underline">{{ item.title }}</a>
                  </div>
                {% elsif item.title == "Search" or item.title == "Scientific Papers" %}
                  <div class="nav-link hide-on-tablet">
                    <a href="{{ item.url | relative_url }}" class="underline">{{ item.title }} <i class="fa fa-search font-awesome-icon"></i></a>
                  </div>
                {% else %}
                  <div class="nav-link hide-on-portrait">
                    <a href="{{ item.url | relative_url }}" class="underline">{{ item.title }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

      </div>
      <div class="social">
        <a href="mailto:ask-segment-routing@cisco.com" target="_blank"><img src="{{ 'images/email-icon.svg' | relative_url }}" width="50" alt="email icon" class="social-icon"></a>
        <a href="https://twitter.com/segmentrouting"  target="_blank"><img src="{{ 'images/twitter-icon.svg' | relative_url }}" width="50" alt="twitter icon" class="social-icon"></a>
        <a href="https://www.linkedin.com/groups/8266623" target="_blank"><img src="{{ 'images/linkedin-icon.svg' | relative_url }}" width="50" alt="linkedin icon" class="social-icon"></a>
      </div>
      <div class="menu-icon" id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
  </nav>
</div>
