/* ==========================================================================
   Blog posts list
   ========================================================================== */

.bloglist__item {
  clear:both;

  .page__meta {
    margin: 0 0 4px;
  }

  .bloglist__item {
    min-height: 120px;
  }

  .bloglist__item-body {
    overflow: hidden;
  }

  .bloglist__item-title {
    margin-bottom: 0.25em;
    font-family: $global-font-family;

    a + a {
      opacity: 0.5;
    }
  }

  .bloglist__item-excerpt {
    margin-top: 0;
    text-align: justify;
    font-size: $type-size-5;

    & + p {
      text-indent: 0;
    }
  }

  .bloglist__item-teaser {
    width: 200px;
    max-height: 100px;
    margin: 2em 20px 0 20px;
    float: left;
    border-radius: $border-radius;
    text-align: center;
    img {
      width: 100%;
      border-radius: $border-radius;
    }
  }
}
