*, *:before, *:after {
  box-sizing: border-box;
}

$bg-color: #d9d8c6;
$primary-color: #5b5a5c;
$secondary-color: darken($primary-color, 15%);

body {
  background: $bg-color;
}

li {
  list-style: none;
}

.suga-container {
  background: $primary-color;
  padding: .2em;
  width: 100%;
  margin: 0;
  box-shadow: 3px 3px 0px $secondary-color;
  border: 2px solid $secondary-color;
  border-radius: 5px;
}

.suga-slider-wrap {
  overflow: hidden;
  margin: 0em;
}

.suga-slider-group {
  margin: 0;
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.suga-slide {
  float: left;
  position: relative;
  margin: 0px;
  padding-right: 20px;
  height: 100px;
  width: 120px;
}

.suga-slide img{
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .5s ease-in-out;
}

.suga-slide img:hover {
  filter: none;
  -webkit-filter: none;
  -webkit-transform: scale(1.1);
}