---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta name="google-site-verification" content="w0axbFnYyWUMRz9djT-oLCeWTz571nhOjPS55UN99Wo" />
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="hero-section" style="background-image: url('images/path-tracing/background-pt-2.png');">
      <div class="container" style="text-align:center;">
         <h1 class="hero-title" itemprop="headline">
            SRv6 Path Tracing
        </h1>
        <h1 class="hero-title" itemprop="headline">
          in 90 seconds
      </h1> 
          
          <a href="#" onclick="lightbox_open();">
            <div class="video-lightbox-button">
              <i class="fas fa-play"></i>
            </div>
          </a>
          
          <div id="light">
            <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
            <video id="hero-video" controls preload>
              <source src="images/path-tracing/video-pitch-rev3a.mp4" type="video/mp4">
            </video>
          </div>
          <div id="fade" onClick="lightbox_close();"></div>
      </div>
    </div>

    <div id="main" role="main">
      <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        <section class="page__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer.html %}
        {% include footer/custom.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
