---
layout: default 
hero-image: 
---

<div id="main" role="main">
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
    
    <div class="hero-block" style="background-image: url('{{ images/new-design/SR-Hero-Background-Image-8.png | relative_url }}');">
      <div class="container">
        <h1 class="large-hero-title">{{ page.title }}</h1>
      </div>
    </div>

    <div class="page__inner-wrap"> 
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
        </header>
      {% endunless %}

      <div class="container single">
        <section class="page__content" itemprop="text">
          {{ content }}
          {% if page.link %}<div><a href="{{ page.link | relative_url }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        </section>
      </div>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>
    </div>
  </article>
</div>
